@import './components/headtext'; // headtext

.categories {
  margin-bottom: 20rem;

  // Title
  .title {
    @extend %headtext;

    h1 {
      &::before {
        width: 20rem;
        right: -22rem;
      }

      &::after {
        content: 'CATEGORIES';
      }
    }
  }

  // Grid
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem 0;
    padding: 2rem;
    place-items: center;

    // lg 992px
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 55rem;
    }

    // md 768px
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }

    .categorie-box {
      background-color: #f9bdbd;
      padding: 3rem;
      border-radius: 0 15rem 0 15rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 28rem;
      height: 40rem;

      h3 {
        font: bolder 2.4rem 'Nunito', sans-serif;
        color: #3e3f43;
      }

      img {
        align-self: center;
      }

      a {
        all: unset;
        align-self: flex-end;
        border: 1px solid #000;
        background-color: transparent;
        border-radius: 8px;
        padding: 1rem 1.5rem;
        cursor: pointer;
        font: bold 1.8rem 'Nunito', sans-serif;
        color: #3e3f43;
      }
    }

    .cy {
      background-color: #f7dea6;
    }

    .cb {
      background-color: #a8dcec;
    }
  }
}
